html {
  height: 100%; }

body {
  margin: 20px;
  height: calc(100vw - 40px); }

img {
  max-width: calc(100vw - 40px);
  max-height: calc(100vh - 40px); }

.blendmode img {
  position: absolute;
  max-width: calc(100vw - 180px);
  max-height: calc(100vh - 180px); }

.blendmode img:first-of-type {
  z-index: 1;
  top: 160px;
  left: 160px; }

.ball {
  background: tomato;
  border: 2px solid red;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: inline-block; }

.leon {
  position: relative;
  width: 800px;
  height: 533px; }
  .leon:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 800px;
    height: 533px;
    z-index: 10;
    background-image: -webkit-linear-gradient(315deg, tomato, magenta);
    background-image: linear-gradient(135deg, tomato, magenta);
    mix-blend-mode: overlay;
    -webkit-filter: opacity(0.3);
            filter: opacity(0.3); }
  .leon img {
    display: block;
    position: absolute;
    max-width: none;
    max-height: none;
    width: 800px; }
    .leon img:last-of-type {
      -webkit-filter: contrast(0.8) brightness(0.8) sepia(0.2);
              filter: contrast(0.8) brightness(0.8) sepia(0.2); }
    .leon img:first-of-type {
      z-index: 1;
      right: 0px;
      top: 30px;
      -webkit-clip-path: polygon(5% 0%, 100% 0%, 100% 65%, 0% 67%);
              clip-path: polygon(5% 0%, 100% 0%, 100% 65%, 0% 67%);
      -webkit-filter: brightness(1) contrast(22) invert(1);
              filter: brightness(1) contrast(22) invert(1);
      mix-blend-mode: screen;
      width: 520px; }
