body {
  margin: 20px; }

img {
  max-width: calc(100vw - 40px);
  max-height: calc(100vh - 40px); }

.blendmode img {
  position: absolute;
  max-width: calc(100vw - 120px);
  max-height: calc(100vh - 120px); }

.blendmode img:first-of-type {
  z-index: 1;
  top: 80px;
  left: 80px; }

img.top {
  /* Darken modes */
  /* Lightning modes */
  /* Contrast modes */
  /* Comparative modes */
  /* Composite modes */ }
