
img{
//  background: red;
// filter: blur(10px);
// filter: brightness(2);
// filter: contrast(20);
// box-shadow: 0 0 10px red;
// filter: drop-shadow(16px 16px 20px blue);
// filter: grayscale(1);
// filter: hue-rotate(180deg);
// filter: invert(.5);
// filter: opacity(1);
// filter: saturate(15);
// filter: sepia(1);

// filter: contrast(0.8) brightness(.9) sepia(.3) saturate(.8);
}

.blendmode img:first-of-type{
  /* Darken modes */
//  mix-blend-mode: multiply;
//  mix-blend-mode: darken;
//  mix-blend-mode: color-burn;

  /* Lightning modes */
//  mix-blend-mode: screen;
//  mix-blend-mode: lighten;
//  mix-blend-mode: color-dodge;

  /* Contrast modes */
//  mix-blend-mode: overlay;
//  mix-blend-mode: soft-light;
//  mix-blend-mode: hard-light;

  /* Comparative modes */
//  mix-blend-mode: difference;
//  mix-blend-mode: exclusion;

  /* Composite modes */
//  mix-blend-mode: hue;
//  mix-blend-mode: saturation;
//  mix-blend-mode: luminosity;
//  mix-blend-mode: color;
}

body{
background-image:
linear-gradient(45deg, yellow, green),
linear-gradient(#ddd 18px, transparent 18px),
linear-gradient(90deg, #ddd 18px, transparent 18px);
background-color: #999;
background-position: 0 0, 0 -2px, -2px 0;
background-size:100% 100%, 20px 20px, 20px 20px;
background-blend-mode: color, normal, normal;


  /*
  background-image:
    linear-gradient(135deg, tomato, magenta),
    linear-gradient(#ddd 18px, transparent 18px),
    linear-gradient(90deg, #ddd 18px, transparent 18px);
  background-position: 0 -2px, -2px 0;
  background-color: #ccc;
  background-size: 100% 100%, 20px 20px, 20px 20px;
  background-blend-mode: color, normal, normal;
*/
}

@keyframes move{
  from{
    transform: translateX(0px);
    filter: blur(0);
  }
  to{
    transform: translateX(250px);
    filter: blur(15px);
    background: blue;
  }
}

.animation .ball{
  animation: move .5s ease infinite alternate;
}
