@import "base";

.blendmode img:first-of-type{
/* Darken modes =================== */
//  mix-blend-mode: multiply;
//  mix-blend-mode: darken;
//  mix-blend-mode: color-burn;

/* Lightning modes =================== */
//  mix-blend-mode: screen;
//  mix-blend-mode: lighten;
//  mix-blend-mode: color-dodge;

/* Contrast modes =================== */
//  mix-blend-mode: overlay;
//  mix-blend-mode: soft-light;
//  mix-blend-mode: hard-light;

/* Comparative modes =================== */
//  mix-blend-mode: difference;
//  mix-blend-mode: exclusion;

/* Composite modes =================== */
//  mix-blend-mode: hue;
//  mix-blend-mode: saturation;
//  mix-blend-mode: luminosity;
//  mix-blend-mode: color;
}

body{
  background: red;
}

img.paper{
  filter: brightness(1.1) invert(1);
  mix-blend-mode: screen;
}
