@import "base";

body{

  background-image:
  linear-gradient( 45deg, yellow, green),
    linear-gradient(#ddd 18px, transparent 18px),
    linear-gradient(90deg, #ddd 18px, transparent 18px);

  background-size: 100% 100%, 20px 20px, 20px 20px;
  background-color: #999;
  background-blend-mode: color, normal, normal;
/* EXEMPLO DE PATTERN ==========
*/
}

@keyframes move{
  from{

  }
  to{
    transform: translateX(300px);
  }
}

.animation .ball{
  animation: move .3s ease infinite alternate;
}
